// ====================
// colors
// ====================
$color-primary              : #00ebc7;
$color-secondary            : #ff5470;

$color-yellow               : #fde24f;

$color-black                   : #00214d;
$color-bg                   : #00214d;
$color-bg-secondary         : #1b2d45;

$color-white                : #fffffe;
$color-white-secondary      : #f2f4f6;


$color-dark-primary         : #eebbc3;
$color-dark-secondary       : #b8c1ec;

$color-dark-bg              : #232946;
$color-dark-light-bg        : #d4d8f0
